<% if flash[:notice] %>
	<div data-controller="flash" class="mt-2 bg-teal-500 text-sm text-white rounded-lg p-4" role="alert">
		<span class="font-bold"><%= flash[:notice] %></span>
	</div>
<% end %>

<% if flash[:alert] %>
	<div data-controller="flash" class="mt-2 bg-red-500 text-sm text-white rounded-lg p-4" role="alert">
		<span class="font-bold"><%= flash[:alert] %></span>
	</div>
<% end %>
