<% prev_text = 'Prev' %>
<% next_text = 'Next' %>

<% prev_link = @pagy.prev ? link_to(prev_text, url_for(page: @pagy.prev), class: 'py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50') : content_tag(:span, prev_text, class: 'py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none') %>
<% next_link = @pagy.next ? link_to(next_text, url_for(page: @pagy.next), class: 'py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50') : content_tag(:span, next_text, class: 'py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none') %>

<nav class="px-4 py-3 flex items-center justify-between sm:px-6" aria-label="Pagination">
  <div class="hidden sm:block">
    <%== pagy_info(@pagy, item_name: model.pluralize(@pagy.count)) %>
  </div>
  <div class="flex-1 flex justify-between sm:justify-end">
    <%= prev_link %>
    <%= next_link %>
  </div>
</nav>
